Invoice Ai Workflow.json
{
  "name": "Invoice Ai Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ChO0rtVgkpZovlDeAPLR9OaqIyysEpS1",
          "mode": "list",
          "cachedResultName": "Folder n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ChO0rtVgkpZovlDeAPLR9OaqIyysEpS1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        16,
        -224
      ],
      "id": "15a94d97-ceb4-4bc0-8d63-ee03712eac0c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleApi": {
          "id": "A4OYAu5ZStucw9Oi",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        176
      ],
      "id": "b7ab769f-4ea5-4a2f-a612-e27bcd964e63",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "A4OYAu5ZStucw9Oi",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "content": "node for extracte info from the node before to convert them from binary to text ",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        48
      ],
      "typeVersion": 1,
      "id": "7009c4af-6a11-4c3b-8d9a-f0c97310a1c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of Invoice ",
              "required": true
            },
            {
              "name": "Order Number",
              "type": "number",
              "description": "The Number of Order",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "The Date when sended the Invoice ",
              "required": true
            },
            {
              "name": "From",
              "description": "Client Name",
              "required": true
            },
            {
              "name": "Total Due",
              "type": "number",
              "description": "The Total Price of Invoice ",
              "required": true
            },
            {
              "name": "Service",
              "description": "What is the server you pay for ",
              "required": true
            },
            {
              "name": "To",
              "description": "The recipient",
              "required": true
            },
            {
              "name": "Email Client",
              "description": "The email of Client",
              "required": true
            },
            {
              "name": "Email recipient",
              "description": "The Email of recipient",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        544,
        -112
      ],
      "id": "538c3d4c-339b-4ffe-a7bf-3c328f9fe763",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        528,
        112
      ],
      "id": "91ddd2c6-34b3-47ff-b790-bfb24ba95bea",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "Ub0HhNHCwZ9KTBmg",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qGAvJk35S_x8PrIGwlSP2QpZ0wIteBwx9SLnMbBFv9I",
          "mode": "list",
          "cachedResultName": "Invoices ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qGAvJk35S_x8PrIGwlSP2QpZ0wIteBwx9SLnMbBFv9I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qGAvJk35S_x8PrIGwlSP2QpZ0wIteBwx9SLnMbBFv9I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Order Number": "={{ $json.output['Order Number'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "From": "={{ $json.output.From }}",
            "Total Due": "={{ $json.output['Total Due'] }}",
            "Service": "={{ $json.output.Service }}",
            "To": "={{ $json.output.To }}",
            "Email Client": "={{ $json.output['Email Client'] }}",
            "Email Recipient": "={{ $json.output['Email recipient'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Number",
              "displayName": "Order Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Client",
              "displayName": "Email Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Recipient",
              "displayName": "Email Recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Due",
              "displayName": "Total Due",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        16
      ],
      "id": "3a7e05a9-c147-40d3-b1f2-3fbcb31a5ce2",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "U8TnYqF6m4fk9vFP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aminchana.business@gmail.com",
        "subject": "=Invoice Number  {{ $('Append row in sheet').item.json['Invoice Number'] }}",
        "emailType": "text",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        224
      ],
      "id": "a72ec4f9-d14d-41a2-a2a4-bbd832550f65",
      "name": "Send a message",
      "webhookId": "4a2e2786-6379-4f96-a45b-07e12cf401d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "FKI0k896fV82arEJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number : {{ $json['Invoice Number'] }}\nOrder Number : {{ $json['Order Number'] }}\nFrom: {{ $json.From }}\nInvoice Date : {{ $json['Invoice Date'] }}\nTo : {{ $json.To }}\nTotal Due : {{ $json['Total Due'] }}\nService : {{ $json.Service }}\nClient Email : {{ $json['Email Client'] }}\nEmail Recipient : {{ $json['Email Recipient'] }}\n"
            },
            {
              "content": "#Overview \nYou are an email expert at Company Chana . You will recieve invoice Information .Your job is to notify the finance team that invoice has been treated\n\n#Output\noutput the following parameters separately :\nSubject \nEmail ",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1056,
        16
      ],
      "id": "68294ed8-d2f0-4ee9-8160-bf49224c50e5",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "snhlbSmvsTqfxHId",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        368,
        48
      ],
      "id": "55064940-2114-4b33-aa6b-1a4c76bb48f1",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "05c39537-3957-4496-bbcd-04c3a9624c59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d18f9a118c484c60eb77c3ff16d5a2ac0623b8773cdf0ce31c7a0431b4f32afb"
  },
  "id": "gm11l5VkJFyHHPm6",
  "tags": []
}