Linkdin Post.json
{
  "name": "Linkdin Post",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -128
      ],
      "id": "6447e8ff-3701-43d5-9356-368f9cc1685e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U",
          "mode": "list",
          "cachedResultName": "imageGeneration",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Post Status",
              "lookupValue": "To Create"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -240
      ],
      "id": "2e7f4db4-c3a5-4f3b-bbd6-16ba2cdcbb3f",
      "name": "Get Staus To Create",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rRVqzLgnZlB6M1OC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Post :  {{ $json.Subject }}\nAudience Target: {{ $json.Audience }}",
        "options": {
          "systemMessage": "You are a professional LinkedIn content creator specializing in educational, engaging, and high-value posts.\n\nYour task is to write a LinkedIn post based on the input provided.\n\nINPUT:\n- Topic:  {{ $json.Subject }}\n- Target audience:  {{ $json.Audience }}\n\nINSTRUCTIONS:\n1. Start with a strong hook (first 1–2 lines that grab attention).\n2. Write in a clear, concise, and engaging style.\n3. Provide actionable insights or valuable information.\n4. Use short paragraphs (1–2 lines max) for readability.\n5. Avoid jargon unless appropriate for the audience.\n6. Include a storytelling element or relatable example if possible.\n7. End with a call-to-action (question, opinion request, or engagement prompt).\n8. Optionally include 3–5 relevant hashtags at the end.\n\nOUTPUT FORMAT:\n- Hook\n- Body (well-structured, easy to read)\n- Call-to-action\n- Hashtags\n\nEnsure the post feels human, authentic, and optimized for LinkedIn engagement.\nDo not include explanations or meta commentary—only output the final post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        -48
      ],
      "id": "643608c2-59a1-48b8-8f42-2a5a1708f252",
      "name": "LInkin post generation"
    },
    {
      "parameters": {
        "query": "={{ $json.Subject }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        256,
        256
      ],
      "id": "549631aa-3178-4722-aa0d-0b3c43243a91",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "oFucc6vuFME1oV15",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        192
      ],
      "id": "3691fe6c-1e08-4fff-ac7b-2bc978e026ff",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SjneyUHJziPLSRwm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U",
          "mode": "list",
          "cachedResultName": "imageGeneration",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject": "={{ $('Get Staus To Create').item.json.Subject }}",
            "Post Status": "Created",
            "Post Generated": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Subject"
          ],
          "schema": [
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Status",
              "displayName": "Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Generated",
              "displayName": "Post Generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Linkedin Post Status",
              "displayName": "Image Linkedin Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -176
      ],
      "id": "3a2996f4-1f2a-460c-a6c8-6fa4b74e734f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rRVqzLgnZlB6M1OC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        352
      ],
      "id": "c97a0444-cde0-4224-9055-7bc6c4cde8a8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SjneyUHJziPLSRwm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkdIn Post : {{ $('LInkin post generation').item.json.output }}",
        "options": {
          "systemMessage": "# Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective\nYour task is to:\n- Read and analyze the given LinkedIn post\n- Identify the main message, insight, or takeaway\n- Create a clear and compelling image generation prompt\n\n## Requirements\nThe generated visual must:\n1) Visually support or illustrate the key idea of the post  \n2) Be suitable for a professional LinkedIn feed  \n3) Feel polished, modern, and engaging  \n4) Be a marketing-style graphic (NOT a literal scene or hyperrealistic photo)\n\n## Style Guidelines\nThink like a brand designer or marketing creative.\n\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts  \n- You may include layout suggestions (e.g., \"split screen design\", \"header with bold title and subtle background illustration\")  \n- Use a clean, modern, and professional aesthetic  \n- Assume the output will be used in AI image generation tools, so be descriptive and precise  \n- Include numeric stats if they exist in the original post  \n\n## Output Instructions\n- Output ONLY the final image prompt  \n- Do NOT include quotation marks  \n- Do NOT repeat or rephrase the LinkedIn post  \n- Do NOT add explanations or extra content  \n- Do NOT leave placeholders like \"text here\" or \"header area\"  \n\n## Example Output\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation, minimalist background with soft gradients, clean composition, subtle tech-inspired elements, professional LinkedIn aesthetic"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        112
      ],
      "id": "06191e5c-e416-4d88-aee2-f47c474e63aa",
      "name": "image Prompt Generation"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        112
      ],
      "id": "6c5431c2-eed5-4031-9220-1d4760db1772",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U",
          "mode": "list",
          "cachedResultName": "imageGeneration",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lQ-LbrG_5gj5XVDMmpxLW_lwlkXvElo5tmp9ZGjJI5U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject": "={{ $('Get Staus To Create').item.json.Subject }}",
            "Image Linkedin Post Status": "Generated"
          },
          "matchingColumns": [
            "Subject"
          ],
          "schema": [
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Status",
              "displayName": "Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Generated",
              "displayName": "Post Generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Linkedin Post Status",
              "displayName": "Image Linkedin Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        112
      ],
      "id": "720ce28d-2364-44dd-8e9f-3412a865be46",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rRVqzLgnZlB6M1OC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $('LInkin post generation').item.json.output }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        768,
        352
      ],
      "id": "c52ae461-2094-4900-b81a-c6b1b6f62a21",
      "name": "Search in Tavily1",
      "credentials": {
        "tavilyApi": {
          "id": "oFucc6vuFME1oV15",
          "name": "Tavily account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Staus To Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Staus To Create": {
      "main": [
        [
          {
            "node": "LInkin post generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "LInkin post generation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LInkin post generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LInkin post generation": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "image Prompt Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "image Prompt Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "image Prompt Generation": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily1": {
      "ai_tool": [
        [
          {
            "node": "image Prompt Generation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3a26954e-0b34-4c56-b25f-a899f82a8170",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "781f542c85297baff2393254780b5f228d9e0479737828ca2c79b01cf56630d7"
  },
  "id": "zGd5nAZd3C4lPewD",
  "tags": []
}