RAG & Chatbot.json
{
  "name": "RAG & Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1LTIiOVebnlBS1Pyod8tthJ051VbHeybK",
          "mode": "list",
          "cachedResultName": "TestN8N.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1LTIiOVebnlBS1Pyod8tthJ051VbHeybK/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -896
      ],
      "id": "628790b1-de40-4817-8b93-9b705f34455d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleApi": {
          "id": "A4OYAu5ZStucw9Oi",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -880
      ],
      "id": "5f09daba-0a78-4e8b-abd4-a4f2a22d3a6c",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "A4OYAu5ZStucw9Oi",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        -608
      ],
      "id": "70cf1e81-5c97-4ffb-94e9-aefd151e9650",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        384,
        -432
      ],
      "id": "66904f2c-a2f3-4934-b3dc-2fa0dd57f0fa",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        96,
        -608
      ],
      "id": "56e0bca5-2104-43b6-91c1-8d1f10394c18",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "Ub0HhNHCwZ9KTBmg",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-mistral-index",
          "mode": "list",
          "cachedResultName": "n8n-mistral-index"
        },
        "options": {
          "clearNamespace": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        144,
        -784
      ],
      "id": "dfc986ec-3ae1-4260-ac5d-9b145b3476c0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Ym2L27cVGUt4zajm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -768,
        -880
      ],
      "id": "ba78d982-f826-456a-aefe-735095fe8efe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1040,
        -880
      ],
      "id": "84fdac37-b55c-420f-9e4d-b82e51df4ae9",
      "name": "When chat message received",
      "webhookId": "d23999c4-a250-49b4-b434-4ea83fc08f74"
    },
    {
      "parameters": {
        "content": "RAG SYSTEM",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -880
      ],
      "typeVersion": 1,
      "id": "450105d2-15bd-43cc-8ec5-507c8cce88c7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "AI AGENT",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        -864
      ],
      "typeVersion": 1,
      "id": "15542163-7619-43b3-878b-ce78f5a46a8e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Insert Data to Store",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -816
      ],
      "typeVersion": 1,
      "id": "79119890-57ea-496e-8fff-1b705ed174dd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "CONVERT IT TO VECTOR",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -592
      ],
      "typeVersion": 1,
      "id": "d3e56e93-f801-4450-bc94-1b84d28b2e63",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -864,
        -704
      ],
      "id": "84b7a2d4-5009-4b10-a03a-1e22a7713331",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "Ub0HhNHCwZ9KTBmg",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        -608,
        -496
      ],
      "id": "6a26a8cc-86ed-4266-b314-a2f6860287f2",
      "name": "Embeddings Mistral Cloud1",
      "credentials": {
        "mistralCloudApi": {
          "id": "Ub0HhNHCwZ9KTBmg",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the VOLOIO knowledge base. Your input MUST be a JSON object with a single key 'query'. Example: {'query': 'shipping times'}. Do not send plain text.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-mistral-index",
          "mode": "list",
          "cachedResultName": "n8n-mistral-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -656,
        -672
      ],
      "id": "c9770170-3de1-4237-8661-2e92a1541540",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "Ym2L27cVGUt4zajm",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c3d56400-1ca6-42ef-aad6-12ac02520c58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d18f9a118c484c60eb77c3ff16d5a2ac0623b8773cdf0ce31c7a0431b4f32afb"
  },
  "id": "z9nAxB9t2nRzxGDO",
  "tags": []
}